language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - hhvm

before_install:
    - travis_retry composer self-update

install:
    - travis_retry composer install --no-interaction --prefer-dist

script:
    - vendor/bin/phpunit --verbose --coverage-text

matrix:
    fast_finish: true

    allow_failures:
        - php: hhvm
