includes:
    - phpstan-baseline.neon

parameters:
    bootstrapFiles:
        - tests/ClassAliases.php
    level: 8
    paths:
        - src
        - config
        - database
        - stubs
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
